body {
  background-image: url('images/background.png');
  color: white;
  font-family: Gill Sans , Gill Sans MT , Calibri , Trebuchet MS , sans-serif;
}

header {
  font-size: 1.5em;
  text-align: center;
}

.solar-system-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  background-color: rgba(0, 0, 0, 0.438);
  border: 1px solid whitesmoke;
  border-radius: 10px;
  font-size: 1.8em;
  padding: 0.7em 16em;
  text-align: center;
}

.planet-cards-container {
  display: flex;
  width: 90%;
}

.planet-card {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.planet-card img {
  width: 100%;
}
