/* stylelint-disable selector-no-qualifying-type */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  background-image: url('images/background.png');
  color: white;
  font-family: Gill Sans , Gill Sans MT , Calibri , Trebuchet MS , sans-serif;
}

header {
  font-size: 1.5em;
  margin-top: 50px;
  text-align: center;
}

.solar-system-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.missions-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 50px;
}

.title {
  background-color: rgba(0, 0, 0, 0.438);
  border: 1px solid whitesmoke;
  border-radius: 10px;
  font-size: 1.8em;
  margin: 50px 0 40px;
  padding: 0.7em 0;
  text-align: center;
  width: 80%;
}

.planet-cards-container {
  align-items: flex-end;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 90%;
}

.planet-card {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 2em;
}

.planet-img-container {
  align-items: center;
  display: flex;
  height: 118px;
}

.mission-card-container {
  display: grid;
  grid-gap: 40px;
  grid-template-columns: 1fr 1fr 1fr;
  width: 80%;
}

.mission-card {
  background-color: rgba(0, 0, 0, 0.438);
  border: 1px solid whitesmoke;
  border-radius: 10px;
}

.mission-name, .mission-year, .mission-country, .mission-destination {
  padding-left: 16px;
}

.mission-name {
  border-bottom: 1px solid rgba(245, 245, 245, 0.726);
  font-size: 1.6em;
  font-weight: 600;
  margin-bottom: 20px;
  padding: 20px 0 20px 16px;
}

.mission-year, .mission-country, .mission-destination {
  font-size: 1.4em;
  padding-bottom: 20px;
}

img[ alt = 'Planeta Mercúrio' ] {
  width: 2em;
}

img[ alt = 'Planeta Vênus' ] {
  width: 4em;
}

img[ alt = 'Planeta Terra' ] {
  width: 4.2em;
}

img[ alt = 'Planeta Marte' ] {
  width: 2.5em;
}

img[ alt = 'Planeta Júpiter' ] {
  width: 10em;
}

img[ alt = 'Planeta Saturno' ] {
  width: 10em;
}

img[ alt = 'Planeta Urano' ] {
  width: 6em;
}

img[ alt = 'Planeta Netuno' ] {
  width: 6em;
}
